{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="d-flex flex-wrap p-5 align-items-center">
    <div class="col-6">
        <h1>Welcode to Django Blog</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam voluptatem, illo ab recusandae cumque laborum corporis repellendus asperiores mollitia sequi voluptatum excepturi obcaecati velit, explicabo minima aperiam rerum? Expedita sed fugit recusandae necessitatibus amet ducimus totam cum quo, corporis, consectetur eius dolores rem laudantium quae exercitationem quis reprehenderit debitis quibusdam ratione obcaecati alias? Cum quas soluta provident enim minima repellat ullam dolore itaque eos, veritatis laboriosam placeat cupiditate sequi sunt tempore dicta aspernatur excepturi exercitationem! Odit placeat necessitatibus, inventore facere corporis a quibusdam amet magnam quisquam assumenda debitis vero, ducimus nobis est reprehenderit libero, ea sunt ad enim? Voluptate, reiciendis!</p>
    </div>
    <div class="col-6">
        <img src="{% static "header.jpg" %}" alt="">
    </div>
</div>










<div class="d-flex flex-wrap p-5">
   
    <div class="col-2 bg-white p-3">
        <h5>All Categories-</h5>
        {% for cat in category %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="category" id="{{ cat.id }}" />
                <label class="form-check-label" for="{{ cat.id }}">
                    <a href="{% url 'category_wise_post' cat.slug %}" class="text-decoration-none text-dark">{{ cat.name }}</a>
                </label>
            </div>      
        {% endfor %}
    </div>

    <div class="col-10 p-3">
        <h4>{{ data | length }} results found </h4>
        <dir class="d-flex flex-wrap pt-5">
            {% for post in data %}
                <div class="col-sm-3">
                    <div class="card mx-2">
                        <div class="card-body">
                            <img src="{{post.image.url}}" class="card-img-top" alt="...">
                            <h5 class="card-title"><a href="{% url 'detail_post' post.id %}" class="text-decoration-none, text-dark">{{ post.title | truncatewords:4}}</a></h5>
                            <p class="card-text">{{ post.content | truncatewords:10}}</p>
                            <p class="font-weight-bold">Author : {{ post.author.first_name }} {{ post.author.last_name }}</p>
                            <p>
                                Category : 
                                {% for cat in post.category.all %}
                                    <button class="btn btn-primary btn-sm m-1">{{ cat.name | truncatewords:2}}</button>
                                {% endfor %}
                            </p>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </dir>
    </div>

</div>

{% endblock content %}
